<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="<%=stylesHref%>" />
    <title><%=pageTitle%></title>
    <script
      src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
      integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw="
      crossorigin="anonymous"
    ></script>
    <script src="<%=scriptsSrc%>" type="module"></script>
  </head>

  <body>
    <div class="max-w-lg mx-auto text-gray-700 p-2">
      <% if(context=="login") { %> <%- include('partials/login.ejs') %> <% } %> <%
      if(context=="signup") { %> <%- include('partials/signup-one.ejs') %> <% } %> <%
      if(context=="forgot-password") { %> <%- include('partials/forgot-pwd-one.ejs') %> <% } %>
    </div>
  </body>
</html>
