mixin text_group_split(parts)
    div(class="mt-4 flex flex-col")
        div(class="flex gap-2")
            for part in parts
                div(class="flex-1") 
                    label(for=`${part.name}` class="flex-1 text-xs text-gray-400 uppercase")= part.label
                    input(class="w-full rounded text-base border-2 border-blue-50 p-2 flex-1" type="text" name=`${part.name}` id=`${part.name}` placeholder=`${part.filler}`)
                    p(class="w-full p-1 my-1 rounded border border-orange-100 bg-orange-50 text-sm" style="display:none" id=`${part.name}-warning`)
            